<div class="container">
	<div class="product-detail-section row">
		<div class="product-detail-img col-md-5">
			<%= image_tag @hang_hoa.image.url(:large)%>	
		</div>
		<div class="product-detail-info col-md-7">
			<div class="product-detail-name"><h1><%= @hang_hoa.ten_hang %></h1></div>
			<div class="row">
				<div class="product-description col-md-12"><h2><%= @hang_hoa.ghi_chu %></h2></div>
			</div>
			<div class="product-detail-spec">
				
			</div>
		</div>
	</div>
</div>
