<div class="function-headline">
  <h1>Hóa đơn nhập</h1>
</div>
<div style="margin-bottom: 20px">
  <%= link_to new_admin_hoa_don_nhap_path do %>
  <button type="button" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>  Tạo hóa đơn</button>
  <% end %>
</div>
<%= yield %>