// Place all the styles related to the admin/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Dashboard */

$color-bg-blue-grey: #8F96A7;
$color-bg-dark-blue: #383A48;
$color-bg-purple: #7b7de5;
$color-bg-lighter-light-blue: #D1D3E3;

$color-text-light-blue: #9D9EE6;
$color-text-dark-blue: #383A48;

.admin-body {
  background-color: #F0F0F4;
}

.dashboard-wrapper {
  height: 100%;
}

.dashboard-content {
	margin: 85px 40px 30px 30px;
}

.sidebar {
	padding: 0;
	background-color: $color-bg-dark-blue;
	height: calc(100vh - 55px);
  top: 55px;
	width: 16.66666667%;
	-webkit-box-shadow: 0px 0px 20px 1px rgba(92,92,92,0.15);
  -moz-box-shadow: 0px 0px 20px 1px rgba(92,92,92,0.15);
  box-shadow: 0px 0px 20px 1px rgba(92,92,92,0.15);

}

.dropdown:after {
    content: " ";
    display: block;
    position: absolute;
    height: 20px;
    width: 20px;
    top: 8px;
    left: 15px;
    right: 0;
}

/* .navbar-brand-logo {
	width: 12%;
}
 */

.navbar-brand i {
  font-size: 1.8em;
  margin-left: 20px;
  color: #fff
}

.dashboard-navbar .navbar-brand {
  padding-left: 30px;
}

.dashboard-navbar li {
  margin-right: 25px;
  font-weight: 700;
  & a {
    padding-top: 5px !important;
    color: #fff;
  }
  & :hover{
  }
}

.dashboard-navbar {
  height: 55px;
  background-color: $color-bg-purple;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(92,92,92,0.1);
  -moz-box-shadow: 0px 0px 2px 1px rgba(92,92,92,0.1);
  box-shadow: 0px 0px 2px 1px rgba(92,92,92,0.1);
}

.dashboard-navbar .navbar-header {
  margin-left: 15px !important;
}

.dashboard-navbar .navbar-right {
  margin: 15px 0 0 0 !important;
  font-size: 1.1em;
}

.dashboard-navbar {
  margin-bottom: 0;
}

.dashboard-navbar .nav>li>a:hover {
  background-color: transparent;
  color: $color-text-dark-blue !important;
}

.dashboard-menu ul {
	list-style: none;
	padding-left: 0;
	margin-top: 50px;
}

.dashboard-menu li {
	font-size: 1.1em;
	padding: 15px 0 15px 30px;
  color: $color-text-light-blue;
}

.dashboard-menu li:hover {
	background-color: #53556C;
	transition: all 0.5s ease;
  border-left: 5px solid #7b7de5;
  font-weight: 700;
  color: #fff;
  & p {
    font-weight: 700;
  }
}

.dashboard-menu p {
	margin-bottom: 0;
	font-weight: 400;
}

.dashboard-menu a {
	text-decoration: none;
	color: #8b8fa1;
}

.dashboard-menu-active {
  background-color: #53556C;
  transition: all 0.5s ease;
  border-left: 5px solid #7b7de5;
  font-weight: 700;
  color: #fff;
  & p {
    font-weight: 700;
  }
}

// .dashboard-menu-active a {
// 	color: #fff;
// }

// .dashboard-menu-active a:hover {
// 	color: #fff;
// }

.dashboard-menu i {
	float: left;
	font-size: 1.2em;
	margin-right: 15px;
	text-align: center;
	vertical-align: middle;
}

.dashboard-income-static {
	margin-top: 60px;
}

.card {
	display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.87);
    background-color: #fff;
}

.card-header {
	margin: -20px 15px 0;
	border-radius: 50%;
	padding: 10px;
	float: left;
	text-align: center;
	background-color: $color-bg-purple;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15)
}

.card-header i {
	width: 46px;
	height: 46px;
	line-height: 46px;
	font-size: 2.2em;
	color: #fff;
}

.card-content {
	text-align: right;
	padding: 10px 20px 15px 20px;
	color: #999;
}

.card-content p {
	margin: 0 !important;
}

.card-static {
	margin: 0 !important;
	font-size: 1.8em;
}

.card-footer {
	border-top: 1px solid #eee;
	margin: 0 20px 10px;
	padding-top: 10px;
	color: #999;
}

/* LOGIN */

.login-body {
	position: relative;
	height: 100vh;
	background-color: #4980F9;
	color: #fff;
}

.login-wrapper {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.login-wrapper img {
	display: block;
	margin: 0 auto;
	margin-bottom: 40px;
}

.login-wrapper input {
	margin-bottom: 20px;
}

.login-wrapper label {
	font-weight: 400;
	font-size: 1.2em;
}

.login-wrapper .btn {
	display: block;
	margin-top: 20px;
	width: 100%;
	font-size: 1.2em;
}

.custom-form {
	font-size: 1.2em;
}

.custom-form label {
	font-weight: 600;
}

.commas {
	padding: 0 14px !important;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #7b7de5;
}

.fa-chevron-left {
  margin-right: 5px;
}