// Place all the styles related to the admin/danh_mucs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.function-headline h1 {
	margin-bottom: 30px;
	margin-top: 0;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2.5em;
  color: #1774F0;
}

.function-headline {
  margin-bottom: 20px;
}

.show-table {
	font-size: 1.4em;
	table-layout: fixed;
}

.show-table td, .show-table th {
	padding: 5px 20px;
}

.headline-btn {
  text-align: right;
}

.headline-btn button {
  background-color: #1774F0;
  border: none;
}

.index-table .dropdown .dropdown-menu {
  min-width: 50px;
}